<div class="container-signup">
  <div class="mx-auto" style="max-width: 540px;">
      <h2 style="text-align:center;" class="mb-3 display-5">Instagram</h2>
      <hr>  
    <div class="row g-3">
        <div class="col-md-6">
            <%= render 'shared/error_messages' %>
            <%= image_tag('insta.svg', size: '270x270') %>
        </div>
        <div class="col-md-6">
            <%= render "shared/user" %>
            <hr>
            <span style="text-align:center;">Do you have an account?
          <%= link_to "Log in", root_path %>  </span>
        </div>
    </div>
  </div>
</div>

  